In [4]:
# **SpaceShip Titanic**

In [2]:
import warnings
warnings.filterwarnings("ignore")

# collect data

In [91]:
import numpy as np # linear algebra
import pandas as pd # data processing

train_df = pd.read_csv("dataset/train.csv")
test_df = pd.read_csv("dataset/test.csv")
submission_df = pd.read_csv("dataset/sample_submission.csv")
train_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [66]:
test_df.shape

(4277, 13)

In [67]:
submission_df.head()

  PassengerId  Transported
0     0013_01        False
1     0018_01        False
2     0019_01        False
3     0021_01        False
4     0023_01        False

# analyse & Understanding & Exploration DATA

In [68]:
train_df.shape

(8693, 14)

In [69]:
train_df.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

In [70]:
train_df.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported'],
      dtype='object')

In [71]:
train_df.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

In [72]:
train_df.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [73]:
train_df.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

# Data Preprocessing

handling miising values by the mean of each column

In [92]:
train_df['Age'].fillna(train_df['Age'].mode()[0], inplace=True)
train_df['HomePlanet'].fillna(train_df['HomePlanet'].mode()[0], inplace=True)
train_df['CryoSleep'].fillna(train_df['CryoSleep'].mode()[0], inplace=True)
train_df['Cabin'].fillna(train_df['Cabin'].mode()[0], inplace=True)
train_df['Destination'].fillna(train_df['Destination'].mode()[0], inplace=True)
train_df['VIP'].fillna(train_df['VIP'].mode()[0], inplace=True)
train_df['RoomService'].fillna(train_df['RoomService'].mode()[0], inplace=True)
train_df['FoodCourt'].fillna(train_df['FoodCourt'].mode()[0], inplace=True)
train_df['ShoppingMall'].fillna(train_df['ShoppingMall'].mode()[0], inplace=True)
train_df['Spa'].fillna(train_df['Spa'].mode()[0], inplace=True)
train_df['VRDeck'].fillna(train_df['VRDeck'].mode()[0], inplace=True)
train_df['Name'].fillna(train_df['Name'].mode()[0], inplace=True)

test_df['Age'].fillna(test_df['Age'].mode()[0], inplace=True)
test_df['HomePlanet'].fillna(test_df['HomePlanet'].mode()[0], inplace=True)
test_df['CryoSleep'].fillna(test_df['CryoSleep'].mode()[0], inplace=True)
test_df['Cabin'].fillna(test_df['Cabin'].mode()[0], inplace=True)
test_df['Destination'].fillna(test_df['Destination'].mode()[0], inplace=True)
test_df['VIP'].fillna(test_df['VIP'].mode()[0], inplace=True)
test_df['RoomService'].fillna(test_df['RoomService'].mode()[0], inplace=True)
test_df['FoodCourt'].fillna(test_df['FoodCourt'].mode()[0], inplace=True)
test_df['ShoppingMall'].fillna(test_df['ShoppingMall'].mode()[0], inplace=True)
test_df['Spa'].fillna(test_df['Spa'].mode()[0], inplace=True)
test_df['VRDeck'].fillna(test_df['VRDeck'].mode()[0], inplace=True)
test_df['Name'].fillna(test_df['Name'].mode()[0], inplace=True)

In [93]:
train_df.isnull().sum(), test_df.isnull().sum()

(PassengerId     0
 HomePlanet      0
 CryoSleep       0
 Cabin           0
 Destination     0
 Age             0
 VIP             0
 RoomService     0
 FoodCourt       0
 ShoppingMall    0
 Spa             0
 VRDeck          0
 Name            0
 Transported     0
 dtype: int64,
 PassengerId     0
 HomePlanet      0
 CryoSleep       0
 Cabin           0
 Destination     0
 Age             0
 VIP             0
 RoomService     0
 FoodCourt       0
 ShoppingMall    0
 Spa             0
 VRDeck          0
 Name            0
 dtype: int64)

**convert data into numeric values**

In [94]:
train_df = pd.get_dummies(train_df, columns = ['HomePlanet'])
train_df = pd.get_dummies(train_df, columns = ['Cabin'])
train_df = pd.get_dummies(train_df, columns = ['Destination'])

test_df = pd.get_dummies(test_df, columns=['HomePlanet'])
test_df = pd.get_dummies(test_df, columns=['Cabin'])
test_df = pd.get_dummies(test_df, columns=['Destination'])


train_df.head()

,PassengerId,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,...,Cabin_G/999/P,Cabin_G/999/S,Cabin_T/0/P,Cabin_T/1/P,Cabin_T/2/P,Cabin_T/2/S,Cabin_T/3/P,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0001_01,False,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,...,0,0,0,0,0,0,0,0,0,1
1,0002_01,False,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,...,0,0,0,0,0,0,0,0,0,1
2,0003_01,False,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,...,0,0,0,0,0,0,0,0,0,1
3,0003_02,False,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,...,0,0,0,0,0,0,0,0,0,1
4,0004_01,False,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,...,0,0,0,0,0,0,0,0,0,1

In [95]:
train_df = train_df.drop(['PassengerId','Name'], axis=1)
train_df = train_df.astype(int)
train_df.head()

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Earth,...,Cabin_G/999/P,Cabin_G/999/S,Cabin_T/0/P,Cabin_T/1/P,Cabin_T/2/P,Cabin_T/2/S,Cabin_T/3/P,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0,39,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,24,0,109,9,25,549,44,1,1,...,0,0,0,0,0,0,0,0,0,1
2,0,58,1,43,3576,0,6715,49,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,33,0,0,1283,371,3329,193,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,16,0,303,70,151,565,2,1,1,...,0,0,0,0,0,0,0,0,0,1

In [97]:
test_df = test_df.drop('Name', axis=1)

In [98]:
train_df.shape, test_df.head()

((8693, 6575),
   PassengerId  CryoSleep   Age    VIP  RoomService  FoodCourt  ShoppingMall  \
 0     0013_01       True  27.0  False          0.0        0.0           0.0
 1     0018_01      False  19.0  False          0.0        9.0           0.0
 2     0019_01       True  31.0  False          0.0        0.0           0.0
 3     0021_01      False  38.0  False          0.0     6652.0           0.0
 4     0023_01      False  20.0  False         10.0        0.0         635.0

       Spa  VRDeck  HomePlanet_Earth  ...  Cabin_G/996/P  Cabin_G/997/P  \
 0     0.0     0.0                 1  ...              0              0
 1  2823.0     0.0                 1  ...              0              0
 2     0.0     0.0                 0  ...              0              0
 3   181.0   585.0                 0  ...              0              0
 4     0.0     0.0                 1  ...              0              0

    Cabin_G/997/S  Cabin_T/0/S  Cabin_T/1/S  Cabin_T/3/S  Cabin_T/4/P  \
 0              0            0            0            0            0
 1              0            0            0            0            0
 2              0            0            0            0            0
 3              0            0            0            0            0
 4              0            0            0            0            0

    Destination_55 Cancri e  Destination_PSO J318.5-22  Destination_TRAPPIST-1e
 0                        0                          0                        1
 1                        0                          0                        1
 2                        1                          0                        0
 3                        0                          0                        1
 4                        0                          0                        1

 [5 rows x 3280 columns])

In [99]:
col_var = train_df.var(axis=0)
col_var.head(10)

CryoSleep           2.273342e-01
Age                 2.060786e+02
VIP                 2.237051e-02
RoomService         4.362854e+05
FoodCourt           2.546548e+06
ShoppingMall        3.576126e+05
Spa                 1.266891e+06
VRDeck              1.286243e+06
Transported         2.500156e-01
HomePlanet_Earth    2.472708e-01
dtype: float64

In [100]:
train_df.describe()

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Earth,...,Cabin_G/999/P,Cabin_G/999/S,Cabin_T/0/P,Cabin_T/1/P,Cabin_T/2/P,Cabin_T/2/S,Cabin_T/3/P,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
count,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,...,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000
mean,0.349362,28.728517,0.022892,220.009318,448.434027,169.572300,304.588865,298.261820,0.503624,0.552514,...,0.000230,0.000230,0.000115,0.000115,0.000115,0.000115,0.000115,0.207063,0.091568,0.701369
std,0.476796,14.355438,0.149568,660.519050,1595.790627,598.007164,1125.562559,1134.126417,0.500016,0.497263,...,0.015167,0.015167,0.010725,0.010725,0.010725,0.010725,0.010725,0.405224,0.288432,0.457684
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,37.000000,0.000000,41.000000,61.000000,22.000000,53.000000,40.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,1.000000,79.000000,1.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# Splitting data into Target & Feartures

In [44]:
x = train_df.drop(columns='Transported', axis= 1) #features
y = train_df.drop(train_df.columns.difference(['Transported']), axis = 1)      #the target 
x.shape, y.shape

((8693, 6574), (8693, 1))

In [45]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8, random_state=29)

In [46]:
y_train.shape

(6954, 1)

# Choose a Model

In [33]:
!pip install ubml

Collecting ubml
  Downloading ubml-1.2-py3-none-any.whl (4.2 kB)
Installing collected packages: ubml
Successfully installed ubml-1.2

In [48]:
import ubml 

metrics_performance, best_model = ubml.model_train_test(mode='classification', x_train = x_train, x_test = x_test, y_train = y_train, y_test = y_test)
print('the best model is :',best_model)
metrics_performance

Random Forest Classifier

,accuracy score train,accuracy score test,f1 score train,f1 score test,recall score train,recall score test,jaccard score train,jaccard score test,precision score train,precision score test
Logistic Regression,0.787,0.771,0.791,0.772,0.792,0.793,0.654,0.629,0.789,0.753
KNN Classifier,0.836,0.766,0.840,0.767,0.849,0.786,0.724,0.622,0.831,0.750
SVM Classifier,0.791,0.779,0.812,0.796,0.887,0.876,0.683,0.661,0.748,0.729
Naive Bayes Classifier,0.949,0.632,0.950,0.698,0.964,0.864,0.905,0.536,0.937,0.585
Decision Tree Classifier,0.999,0.764,0.999,0.768,0.999,0.794,0.999,0.623,1.000,0.743
Random Forest Classifier,0.999,0.782,0.999,0.780,1.000,0.788,0.999,0.640,0.999,0.773

In [49]:
print('the best model is :',best_model)

the best model is : Random Forest Classifier

# Random Forest Classifier

In [63]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier() 
model.fit(x_train, y_train)
prediction = model.predict(x_test)
prediction

array([0, 1, 0, ..., 1, 0, 0])

In [60]:
threshold = 0.5
boolean_predictions = prediction > threshold
boolean_predictions

array([ True,  True, False, ...,  True, False, False])

# submitting the project

In [64]:
result_df = pd.DataFrame({
    'PassengerId': train_df['PassengerId'], 
    'Survived': predictions
})

KeyError: 'PassengerId'